#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    text-align: center;
    color: black;
    padding: 10px;
    background: black;
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: rgb(119, 0, 0);
    text-decoration: none;
    padding-top: 35px;
}
body {
    background-color: rgb(83, 83, 83);
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    background-color:black;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #ffffff;
    color: rgb(119, 0, 0);
}
footer {
    background-color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo {
    width: 140px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#background_one{
    height: 900px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

#background_one {
    background-color: rgb(98, 2, 143);
}
.msg_one{
    font-size: 100px;
    grid-column: 3/5;
    grid-row: 5;
}
.Vid{
    width: 500px;
}
.card-img{
    width: 250px;
}
.twitch_icon{
    grid-column: 4;
    grid-row: 6;
}
.youtube_icon{
    grid-column: 4;
    grid-row: 6
}
.Vid_replace{
    grid-column: 8;
    grid-row: 5;
}
.msg_two{
    font-size: 100px;
    grid-column: 3/5;
    grid-row: 5; 
}
#background_two {
    height: 900px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
#background_two {
    background-color: rgb(153, 0, 0);
}